packages: 
    yum:
        python3-devel: []
        MySQL-python: []
container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: celery_learning.settings
    aws:elasticbeanstalk:container:python:
        WSGIPath: celery_learning.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
